<h1>Iniciar sesion: </h1>

<style>
    h3 {
        color: red;
    }
</style>

{% for message in messages %}
<h3>{{message}}</h3>
{% endfor %}

<form action = "login" method = "POST">
    {% csrf_token %}
    <p>Username: </p>
    <input type = "text" name = "email" />

    <p>Password: </p>
    <input type = "password" name = "password"/><br>

    <input type = "submit" value = "Iniciar sesion"/>
</form>

<form method = "POST" action = "register">
    {% csrf_token %}
    <input id = "createUser" type = "submit" value = "Crear usuario"/>
</form>